<% if (errors && errors[attribute]) { %>
  <div class="alert alert-danger" role="alert">
    <% Object.values(errors[attribute]).forEach((err) => { %>
      <div><%= err %></div>
    <% }); %>
  </div>
<% } %>