html {
  margin-bottom: 130px;
}

.footer {
  background-color: rgb(248, 248, 248);
  border-top: 2px solid rgb(240, 240, 240);
}

.rgba-gradient {
  background: -moz-linear-gradient(45deg, rgb(136,50,247, 0.6), rgb(0,207,255, 0.6) 100%);
  background: -webkit-linear-gradient(45deg, rgb(136,50,247, 0.6), rgb(0,207,255, 0.6) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgb(136,50,247, 0.6)), to(rgb(0,207,255, 0.6)));
  background: -o-linear-gradient(45deg, rgb(136,50,247, 0.6), rgb(0,207,255, 0.6) 100%);
  background: linear-gradient(45deg, rgb(136,50,247, 0.6), rgb(0,207,255, 0.6) 100%);
}

#bootstrap-overrides .intro {
  padding-top: 15vh;
  padding-bottom: 15vh;
}
